*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font);
  line-height: 1.5rem;
}

body {
  height: 100dvh;
  width: 100%;
  font-size: 1em;
  color: var(--primary-text);
  background-color: var(--base-color);
  margin: 0;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

main {
  flex: 1;
}

ul,
ol {
  list-style: none;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

button:hover {
  background-color: darken(var(--accent-color), 10%);
}

button:active {
  transform: translateY(2px);
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
} */
